body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  place-items: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}


/* Light mode */
.page.light {
  background: linear-gradient(-45deg, #ffffff, rgb(251, 251, 191), #ffffff, rgb(189, 248, 189), #ffffff, rgb(251, 251, 191), #ffffff, rgb(189, 248, 189));
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
  color: #000;
}


/* Dark mode */
.page.dark {
  background: linear-gradient(-45deg, #000000, #0e220f, #000000, rgb(34, 34, 10), #000000, #0e220f, #000000, rgb(34, 34, 10), #000000);
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
}

.page.girl {
  background-image: url(../public/girl.webp);
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
}

.page.boy {
  background-image: url(../public/boy.jpg);
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
}


@media (max-width: 1200px) {
  body {
    padding: 0.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}


@media (max-width: 768px) {
  body {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 368px) {
  body {
    padding: 0;
  }

  h2 {
    font-size: 1rem;
  }

}